<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
<h1>Users</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
<!-- Edit кнопка -->
            <a th:href="@{/users/edit(id=${user.id})}">Edit</a>
<!-- Delete кнопка -->
            <form th:action="@{/users/delete}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${user.id}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<br>
<!--Add User кнопка-->
<a th:href="@{/users/add}">Add User</a> |
<!--Home кнопка-->
<a th:href="@{/users}">Home</a>
</body>
</html>
